<div class="container">
    <div *ngFor="let place of places; let index = index">

        <div class="wrapper">
            <div style="display:flex;justify-content: space-between;width:100%">
                <div></div>
                <h3><a [href]="place.website" target="_blank">{{place.name | titlecase}}</a></h3>

                <div>
                    <h4 class="green">Match: 93%</h4> <!--*ngIf="match" // [ngClass]="match > 80? 'green' : match > 40? 'yellow' : 'red'"-->
                </div>
            </div>

            <div class="place-data">
                <div class="icon-info">
                    <mat-icon>place</mat-icon>
                    <a [href]="place.url" target="_blank">
                        <div [innerHTML]="place.vicinity"></div>
                    </a>
                </div>
                <div class="icon-info">
                    <mat-icon>phone</mat-icon>
                    <span style="margin-right:20px">{{place.international_phone_number}}</span>

                    <ng-template [ngIf]="place.opening_hours?.open_now" [ngIfElse]="closed">
                        <span class="is-open open"> Ανοιχτό </span>
                    </ng-template>
                    <ng-template #closed>
                        <span class="is-open closed"> Κλειστό </span>
                    </ng-template>
                </div>


                <app-ratings [rating]='place.rating' [placeId]='place.id+index' [readonly]="true"
                    (ratingClick)='ratingComponentClick($event)'></app-ratings>

            </div>

        </div>
    </div>
</div>