<div class="wrapper">
    <div class="multi-spinner-container">
        <span></span>
        <div class="multi-spinner line-1">
            <div class="multi-spinner line-2">
                <div class="multi-spinner line-3">
                   <div class="multi-spinner line-4">
                        <div class="multi-spinner">
                            <div class="multi-spinner"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

