.header{
    position:sticky;
    top:0;
    width: 90%;
    background:transparent;
    padding:20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    h2{
        color: #fff; 
        text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
        font-weight: 400;
    }
    button{
        color:#fff;
        margin-left:15%;
    }
}

.container{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    width:70%;
    margin-left:15%;
    justify-content: space-between;
    padding:30px;
    border-radius:8px;
    max-height: calc( 100vh - 90px);
    overflow:auto;
}

.flex-form{
    display:flex;
    flex-direction:column;
    min-width:40%;
    margin-bottom: 20px;
    position:relative;
    margin-right:15px;
}

#map {
    height: 350px;
    min-width:50%;
    width: 500px;
}

.form-field{
    padding: 4px;
    border: 1px solid #717171;
    border-radius: 5px;
    position: relative;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
}

.search{
    margin-top: 15px;
    color: #fff;
    background: #2196f3;
    align-self:center;
}

::ng-deep .mat-form-field-wrapper {
    margin-top:0!important;
}

.field-wrapper{
    height:59.7px;
    border-radius:5px;
    background:#fff;
    margin-bottom: 10px;
    padding: 1px;
    padding-top: 2.2px;
}
mat-form-field{ width:100%}

@media screen and (max-width: 600px) { 
    .field-wrapper, .flex-form { width:100%}
    .flex-form { margin-right: 0; }
    .header{ button { margin:0 } }
}

@media screen and (max-width: 1324px) { 
    .container{
        width:calc(100% - 30px);
        margin-left:0;
        padding:15px;
        padding-bottom: 200px;
    }
}
@media screen and (max-width: 960px) { 
    .container{ justify-content: center; }
}