.header{
    position:sticky;
    top:0;
    width: 90%;
    background:transparent;
    padding:20px;
    button{
        color:#fff;
        margin-left:15%;
    }
}

.container{
    display:flex;
    flex-wrap:wrap;
    width:60%;
    margin-left:20%;
    justify-content: space-between;
    //background: white;
    padding:30px;
    border-radius:8px;
    max-height: calc( 100vh - 90px);
    overflow:auto;
}

.flex-form{
    display:flex;
    flex-direction:column;
    min-width:40%;
    margin-bottom: 20px;
    position:relative;
}

#map {
    height: 350px;
    min-width:50%;
    width: 700px;
}

.form-field{
    padding: 4px;
    border: 1px solid #717171;
    border-radius: 5px;
    position: relative;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
}

.search{
    margin-top: 15px;
    color: #fff;
    background: #2196f3;
    align-self:center;
}

::ng-deep .mat-form-field-wrapper {
    margin-top:0!important;
}

.field-wrapper{
    height:59.7px;
    border-radius:5px;
    background:#fff;
    margin-bottom: 10px;
    padding: 1px;
    padding-top: 2.2px;
}
mat-form-field{ width:100%}