.container{
    margin-left:15%;
    width:70%;
    margin-top:15vh;
    height: 85vh;
}
.wrapper{  box-sizing: border-box; }
.header {
    top: 0;
    left: 13%;
    right: 14%;
    height: 16vh;
    z-index: 3;
    position: absolute;
    background: linear-gradient(to right bottom, #080a0d, #24292b, #3f4848, #606964, #878b80);
    border-radius: 0px 0px 10px 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    align-items: center;
    mat-checkbox{ z-index:4; color:white}
    min-height:90px;

    .btn{

        margin:auto;

    }
}

.title{ color: #fff; }
.save-btn {
    margin-top: 15px;
    color: #fff;
    background: #2196f3;
    align-self: center;
}
::ng-deep .mat-checkbox-frame {
    border-color: white;
    background-color: #fff!important;
}

@media screen and (max-width: 830px) {
    .header {
        left:0;
        right: 0;
        width:100%;
    }
}

@media screen and (max-width: 460px) {
    .header .btn{
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0;
        right: 0;
        button { 
            width: 100%; 
            padding: 15px 10px;
        } 

        button:disabled{
            background: #2196f3;
            color: rgba(0,0,0,0.4);
            cursor: not-allowed;
        }
    }
}
