<div class="wrapper">

    <div class="header mat-elevation-z2">

        <div style="display:flex;flex-direction: column;">
            <div *ngFor="let type of types">
                <mat-checkbox (change)="filter($event)" [name]="type">{{type | titlecase}}</mat-checkbox>
            </div>
        </div>

        <span class="title">Help us make better recommendations by rating at least 5 of the below places.</span>
        <button mat-flat-button class="save-btn" (click)="updateFavorites()" [disabled]="favorites.length < 5">Save Preferences</button>

    </div>
    <div class="container" @list *ngIf="filteredPlaces">
        <table style="width:100%">
            <tr *ngFor="let place of filteredPlaces; let index = index" @places>
                <app-place-container [place]="place" [readonly]="false" (userRating)="saveRatings($event)"></app-place-container>
            </tr>
        </table>
    </div>
</div>