<div class="login">
    <div class="login-wrapper">
        <div class="login-form">
            <div class="logo">
                <img src="../../assets/magellan-logos/magellan-logos_black.png">
            </div>
            <span class="title">LOGIN TO YOUR ACCOUNT</span>
            <form>
                <mat-form-field appearance="outline">
                    <input matInput type="email" placeholder="Email">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <input matInput type="password" placeholder="Password">
                </mat-form-field>
                <div class="actions">
                    <mat-checkbox>Remember Me</mat-checkbox>
                    <a href=""> Forgot Password? </a>
                </div>
                <button class="submit"  mat-raised-button>LOGIN</button>
            </form>
            <div class="register">
                <span style="margin-right: 8px;font-size: 16px;">Don't have an account?</span>
                <a routerLink="/register" mat-button>Create an account</a>
            </div>
        </div>
    </div>
</div>