.login{
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    width:100%;
}

.login-wrapper{
    -webkit-box-flex: 1;
    flex: 1 0 auto;
    padding: 32px;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: center;
    align-items: center
}

.login-form{
    background: #fff;
    width: 384px;
    max-width: 384px;
    padding: 32px;
    text-align: center;
    box-shadow: 0 8px 10px -5px rgba(0,0,0,.2),0 16px 24px 2px rgba(0,0,0,.14),0 6px 30px 5px rgba(0,0,0,.12);
}

.logo{
    width: 190px;
    margin: 18px auto;
    img{
        max-width: 100%;
        height: auto;
        vertical-align: top;
        border: none;
    }
}

.title{
    font-size: 20px;
    margin: 16px 0 32px;
    font-family: Muli,"Helvetica Neue",Arial,sans-serif;
    line-height: 1.4 !important;
    letter-spacing: -.1px !important;
}

form{
    width: 100%;
    text-align: left;
}
mat-form-field{
    width:100%;
}

.actions{
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center space-between;
    align-items: center;
    font-size: 13px;
    margin-top: 8px;
}

a{
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 16px;
    color: #039be5;
    text-decoration: none;
    background-color: transparent;
}

mat-checkbox{
    margin:15px;
}

.submit{
    color: #fff;
    background: #2196f3;
    width: 220px;
    margin: 16px auto;
    display: block;
}

.register{
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: center;
    align-items: center;
    margin: 32px auto 24px;
    font-weight: 500;
}

.submit{
    color: #fff;
    background: #2196f3;
    width: 220px;
    margin: 16px auto;
    display: block;
}