<div class="login">
    <div class="login-wrapper">
        <div class="login-form">
            <div class="logo">
                <!-- logo from https://spark.adobe.com-->
                <img src="../../assets/magellan-logos/magellan-logos_black.png">
            </div>
            <span class="title">User Registration</span>
            <form [formGroup]="userForm">
                <mat-form-field appearance="outline">
                    <input matInput type="email" placeholder="Email" formControlName="email">
                    <mat-error *ngIf="userForm.controls['email'].hasError('required')">Email is <strong>required</strong>.</mat-error>
                    <mat-error *ngIf="userForm.controls['email'].hasError('email')">Not a valid e-mail address.</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <input matInput type="password" placeholder="Password" formControlName="password">
                    <mat-error *ngIf="userForm.controls['password'].hasError('required')">Password is <strong>required</strong>.</mat-error>
                    <mat-error *ngIf="userForm.controls['password'].hasError('mustMatch')">Passwords must match.</mat-error>
                    <mat-error *ngIf="userForm.controls['password'].hasError('minlength')">Password must have 6 or more characters.</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword">
                    <mat-error *ngIf="userForm.controls['confirmPassword'].hasError('required')">Confirm Password is <strong>required</strong>.</mat-error>
                    <mat-error *ngIf="userForm.controls['confirmPassword'].hasError('mustMatch')">Passwords must match.</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="First Name" formControlName="firstName">
                    <mat-error *ngIf="userForm.controls['firstName'].hasError('required')">First Name is <strong>required</strong>.</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Last Name" formControlName="lastName">
                    <mat-error *ngIf="userForm.controls['lastName'].hasError('required')">Last Name is <strong>required</strong>.</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Date of Birth</mat-label>
                    <input matInput [matDatepicker]="dp" disabled>
                    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                    <mat-datepicker #dp disabled="false"></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-select placeholder="Gender" formControlName="gender">
                        <mat-option [value]="'Female'">Female</mat-option>
                        <mat-option [value]="'Male'">Male</mat-option>
                        <mat-option [value]="'Other'">Other</mat-option>
                    </mat-select>
                </mat-form-field>
                <button class="submit" mat-raised-button>Register</button>
            </form>
        </div>
    </div>
</div>