.container {
  top:35%;
  display:flex;
  position: absolute;
  justify-content: space-around;
  align-items: center;
  flex-wrap:wrap;
  width:100%;
}

.btn {
  border-radius:50%;
  width: 150px;
  height: 150px;
  cursor: pointer;
  background: rgb(41, 53, 70);
  border: 1px solid #938d3a;
  outline: none;
  transition: 1s ease-in-out;
  animation: 0.5s ease-out 0s 1 fadeInUp;
  padding: 0;
  position: relative;
  visibility: hidden;
  animation-fill-mode: forwards;
}

.border {
  fill: none;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 0.8s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  outline: 0;
}

.btn:hover {
  transition: 1s ease-in-out;
  background-color: rgb(78, 106, 145);
}

.btn:hover .border {
  stroke-dashoffset: -480;
}

.btn span {
  color: white;
  outline: 0;
  mat-icon{
    width: 70%;
    height: 80%;
    outline: 0;
    svg{ outline: 0;}
  }
}

.second{
  animation-delay: 0.3s;
}
.third{
  animation-delay: 0.6s;
}
.fourth{
  animation-delay: 0.9s;
}

.btn:active,.btn:focus{
  outline:none
}

.btn-wrapper{
  display:flex;
  flex-direction:column;
  align-items: center;
}
@keyframes fadeInUp {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    visibility: visible;
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

h4{
  color: #fff;
  font-size: 20px;
}

.fadeInUp {
  animation-name: fadeInUp;
}

.header{
  animation: 1.5s ease-out 0s 1 fadeInUp;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  color: #fff;
  position: absolute;
  top:10%;
  left:40%;
  text-align:center;
  h2{ font-weight: 400}
}

@media screen and (max-width: 720px) {
  .container {
    margin-top:4%;
    flex-direction: column;
    width:100%;
    position:relative;
  }
  .header{
    position:relative;
    left:0;
    animation: 0.4s ease-out 0s 1 fadeInUp;
  }

  .wrapper{
    display:flex;
    flex-direction:column;
    align-items:center;
  }
}