<div class="wrapper">
  <app-loading *ngIf="loading"></app-loading>
  <div class="header">
    <h1>Welcome to Magellan</h1>
    <h2>Explore Your Options</h2>
  </div>
  <div class="container">
    <div class="btn-wrapper">
      <button class="btn" (click)="openBottomSheet()">
        <svg width="150px" height="150px" class="border">
          <defs>
            <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
              <stop offset="0%" stop-color="#9f7928" />
              <stop offset="50%" stop-color="#Df7928" />
              <stop offset="100%" stop-color="#EDB931" />
            </linearGradient>
          </defs>
          <circle cx="75" cy="75" r="75" stroke-width="2" stroke="url(#gradient)"></circle>
        </svg>
        <span>
          <mat-icon svgIcon="user"></mat-icon>
        </span>
      </button>
      <div *ngIf="show">
        <h4 [@simpleFadeIn]="'in'">User Profile</h4>
      </div>
    </div>
    <div class="btn-wrapper">
      <button class="btn second" routerLink="/advanced-search">
        <svg width="150px" height="150px" class="border">
          <defs>
            <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
              <stop offset="0%" stop-color="#9f7928" />
              <stop offset="50%" stop-color="#Df7928" />
              <stop offset="100%" stop-color="#EDB931" />
            </linearGradient>
          </defs>
          <circle cx="75" cy="75" r="75" stroke-width="2" stroke="url(#gradient)"></circle>
        </svg>
        <span>
          <mat-icon svgIcon="search"></mat-icon>
        </span>
      </button>
      <div *ngIf="show">
        <h4 [@simpleFadeIn]="'in'">Advanced Search</h4>
      </div>
    </div>

    <div class="btn-wrapper">
      <button class="btn third" (click)="quickSearch()">
        <svg width="150px" height="150px" class="border">
          <defs>
            <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
              <stop offset="0%" stop-color="#9f7928" />
              <stop offset="50%" stop-color="#Df7928" />
              <stop offset="100%" stop-color="#EDB931" />
            </linearGradient>
          </defs>
          <circle cx="75" cy="75" r="75" stroke-width="2" stroke="url(#gradient)"></circle>
        </svg>
        <span>
          <mat-icon svgIcon="quickSearch"></mat-icon>
        </span>
      </button>
      <div *ngIf="show">
        <h4 [@simpleFadeIn]="'in'">Quick Search</h4>
      </div>
    </div>
 <!--
    <div class="btn-wrapper">
      <button class="btn fourth">
        <svg width="150px" height="150px" class="border">
          <defs>
            <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
              <stop offset="0%" stop-color="#9f7928" />
              <stop offset="50%" stop-color="#Df7928" />
              <stop offset="100%" stop-color="#EDB931" />
            </linearGradient>
          </defs>
          <circle cx="75" cy="75" r="75" stroke-width="2" stroke="url(#gradient)"></circle>
        </svg>
        <span>
          <mat-icon svgIcon="quickSearch"></mat-icon>
        </span>
      </button>
      <div *ngIf="show">
        <h4 [@simpleFadeIn]="'in'">Quick Search</h4>
      </div>
    </div>
  -->
  </div>
</div>
<!--  Author: Freepik, Site: https://www.flaticon.com

            <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" 
  title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"  
             title="Flaticon">www.flaticon.com</a></div>
            -->