.container {
  top:40%;
  display:flex;
  position: absolute;
  justify-content: space-around;
  align-items: center;
  flex-wrap:wrap;
  width:100%;
}

.btn {
  border-radius:50%;
  width: 150px;
  height: 150px;
  cursor: pointer;
  background: rgb(41, 53, 70);
  border: 1px solid #938d3a;
  outline: none;
  transition: 1s ease-in-out;
  padding: 0;
  position: relative;
}

.border {
  fill: none;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 0.8s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
}

.btn:hover {
  transition: 1s ease-in-out;
  background-color: rgb(78, 106, 145);
}

.btn:hover .border {
  stroke-dashoffset: -480;
}

.btn span {
  color: white;
  mat-icon{
    width: 70%;
    height: 80%;
  }
}
