@import url('https://fonts.googleapis.com/css?family=Varela+Round');

html, body { height: 100% }
body { 
    margin: 0; 
    font-family: 'Varela Round', sans-serif;
    background: linear-gradient(0deg, rgba(0, 151, 255, 0.51), rgba(28, 27, 27, 0.89)),url('./assets/img/main.jpg') ;
    background-size:cover;
    background-repeat: no-repeat;
}
.success{ color: #4F8A10;background-color: #DFF2BF; }
.warning{ color: rgb(209, 53, 61);background-color: rgb(223, 145, 145); }
.mat-form-field-appearance-outline .mat-form-field-outline {color: rgba(0, 0, 0, 0.42)}
button[disabled]:active, button[disabled]:not(.mat-icon-button),
input[type="button"][disabled]:active,
input[type="button"][disabled],
input[type="submit"][disabled]:active,
input[type="submit"][disabled] ,
button[disabled]:hover,
input[type="button"][disabled]:hover,
input[type="submit"][disabled]:hover,
.mat-button[disabled][disabled],
.mat-flat-button[disabled][disabled],
.mat-raised-button[disabled][disabled]{
  background: rgba(253, 253, 253, 0.25);
  color:#fff;
  cursor: not-allowed;
}

::-webkit-scrollbar { width: 6px; height: 3px;}
::-webkit-scrollbar-button { display: none }
::-webkit-scrollbar-track {  background-color:#B9B9B9;}
::-webkit-scrollbar-track-piece { background-color: #fff;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #B9B9B9; border-radius: 36px;}
::-webkit-scrollbar-corner { background-color: #B9B9B9;}
::-webkit-resizer { background-color: #4A4A4A;}

