<mat-nav-list>
    <a routerLink="/preferences" mat-list-item (click)="openLink()">
      <span mat-line>Rate Places</span>
      <span mat-line class="details">Update prefereneces</span>
    </a>
  
    <a routerLink="/history" mat-list-item (click)="openLink()">
      <span mat-line>History</span>
      <span mat-line class="details">Inspect the 5 last search results</span>
    </a>
  
    <!-- <a routerLink="/profile" mat-list-item (click)="openLink()">
      <span mat-line>Edit Profile</span>
      <span mat-line class="details">Change your personal information</span>
    </a> -->

    <a mat-list-item (click)="logout()">
      <span mat-line>Logout</span>
      <span mat-line class="details">We hope to see you again!</span>
    </a>

  </mat-nav-list>
  